files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
      pip install -r /tmp/requirements.txt
      git clone https://github.com/facebookresearch/fastText.git
      cd fastText
      pip install .
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-en.ftz --output-document=/tmp/model-en.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-es.ftz --output-document=/tmp/model-es.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-fr.ftz --output-document=/tmp/model-fr.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-de.ftz --output-document=/tmp/model-de.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-it.ftz --output-document=/tmp/model-it.ftz
      

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"
